{{> menu}}

<form class="box"  action="/songController/{{playlist.id}}/updatesong/{{songController.id}}" method="POST">
  <label>Enter Song Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="title", value="{{songController.title}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="artist" value="{{songController.artist}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="duration" value="{{songController.duration}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Song</button>
</form>

